*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
	min-width: 320px;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px
}

#albums
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}

iframe
{
    justify-self: stretch;
    border: 0;
}