*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
	min-width: 320px;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#albums
{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

iframe
{
    height: 311px;
    width: 300px;
    flex-grow: 1;
    border: 0;
    margin: 5px;
}